{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
    <article class="blog-post">
        <h1>{{ page.title }}</h1>
        <p class="meta">{{ page.date }}</p>
        
        {% if page.intro %}
            <div class="intro">
                <p>{{ page.intro }}</p>
            </div>
        {% endif %}
        
        {% if page.image %}
            {% image page.image width-800 class="img-fluid" %}
        {% endif %}
        
        <div class="blog-content">
            {% include_block page.body %}
        </div>
        
        <p><a href="{{ page.get_parent.url }}">← Back to blog</a></p>
    </article>
{% endblock %}
