{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block content %}
    <h1>{{ page.title }}</h1>
    
    {% if page.intro %}
        <div class="intro">{{ page.intro|richtext }}</div>
    {% endif %}
    
    <div class="service-description">
        {{ page.description|richtext }}
    </div>
    
    <div class="cta-buttons">
        <a href="{% url 'appointment' %}" class="cta-button">Book an Appointment</a>
        <a href="/doctors/" class="cta-button secondary">Our Doctors</a>
    </div>
{% endblock %}
